{% load socialaccount %}
{% load static %}

<!doctype html>
<html lang="ru-RU">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}
        {% endblock %}
    </title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest'%}">
    <!-- CSS -->
    <link href="{% static '/css/bootstrap.min.css' %} " rel="stylesheet">
    <style>
        .list-group-item.active {
            background-color: var(--bs-dark-bg-subtle);
            border-color: var(--bs-dark-bg);
        }
    </style>
</head>

<body>
    <main>
        {% include 'header.html' %}
        
        <div class="container-fluid pb-3">
            {% block dashboard %}
            <div class="d-grid gap-3" style="grid-template-columns: 1fr 2fr;">
                <div class="bg-body-tertiary border rounded-3 p-3">
                    {% block leftpanel %}
                    {% endblock %}
                </div>
                <div class="bg-body-tertiary border rounded-3 p-3">
                    {% block rightpanel %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
        </div>
        
        {% include 'footer.html' %}


    </main>
    <!-- JS -->
    <script src="{% static 'js/htmx.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>
