<div class="container">
    <footer class="py-3 my-4 fw-light">
        <ul class="nav justify-content-center border-bottom pb-1 mb-2">
            <li class="nav-item">
                <a href="https://t.me/v_dombrovsky" class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-telegram"></i>
                    Telegram
                </a>
            </li>
            <li class="nav-item">
                <a href="mailto:team@python.ru" class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-envelope-at-fill"></i>
                    Email
                </a></li>
            <li class="nav-item">
                <a href="http://www.moscowpython.ru/" class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-browser-chrome"></i>
                    Наш сайт
                </a></li>
            <li class="nav-item">
                <a href="https://podcast.python.ru/" class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-mic-fill"></i>
                    Наш подкаст
                </a></li>
            <li class="nav-item">
                <a href="https://www.youtube.com/channel/UC-OVMPlMA3-YCIeg4z5z23A"
                    class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-youtube"></i>
                    Youtube
                </a></li>
            <li class="nav-item">
                <a href="https://vk.com/kursy_python_online_offline"
                    class="nav-link px-2 text-body-tertiary">
                    <i class="bi bi-people-fill"></i>
                    ВКонтакте
                </a></li>
        </ul>
        <p class="text-center text-body-tertiary fw-lighter">© {% now "Y" %} MoscowPython</p>
    </footer>
</div>
