{% load socialaccount %}
{% load static %}

{% block header %}
<header class="navbar sticky-top bg-light flex-md-nowrap p-0 shadow-sm" data-bs-theme="light">
    <a class="navbar-brand col-6 col-sm-4 col-md-4 col-lg-3 me-0 fs-6 text-white ps-2" href="/">
        <i class="bi bi-keyboard text-secondary me-2" style="font-size: 1.5rem;"></i>
        <strong class="text-secondary align-baseline">LMS Learn Python</strong>
    </a>
    <ul class="navbar-nav flex-row">
        {% if not request.user.is_authenticated %}
        <li class="nav-item pe-3">
            <a class="nav-link" aria-current="page" href="{% provider_login_url 'github' %}">
                Войти
            </a>
        </li>
        {% else %}
        <li class="nav-item dropdown pe-3 dropstart ">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img {% if learn_meta.user_github %} src="{{ learn_meta.user_github.extra_data.avatar_url}}" {% else %}
                    src="{% static 'placeholders/user2.png' %}" {% endif %} alt="mdo" width="32" height="32"
                    class="rounded-circle border">
            </a>
            <ul class="dropdown-menu text-small shadow position-absolute">
                {% if request.user.is_staff %}
                <li>
                    <a class="dropdown-item" href="/admin">
                        <i class="bi bi-database"></i> Админка
                    </a>
                </li>
                {% endif %}
                <li>
                    <a class="dropdown-item" href="{% url 'user_detail_view' request.user.username %}">
                        <i class="bi bi-person-square"></i> Мой профиль
                    </a>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'account_logout' %}">
                        <i class="bi bi-door-closed"></i> Выйти
                    </a>
                </li>
            </ul>
        </li>

        {% endif %}

        <li class="nav-item text-nowrap d-md-none p-0">
            <button class="nav-link px-3 text-white" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="bi bi-list text-dark"></i>
            </button>
        </li>
    </ul>
</header>
{% endblock %}
