{% if content_type == 'video' %}

<div id="youtube_player">
    <hr>
    <iframe height="100%" width="100%" 
    src="https://www.youtube.com/embed/{{video_uid}}?rel=0&hd=1&showinfo=0&enablejsapi=1" 
    style="min-height: 360px;"
     class="yt_player_iframe" 
    allowfullscreen="true" allowscriptaccess="always" frameborder="0">
    </iframe>
</div>




{% else %}
<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Ошибка загрузки</h5>
        </div>
        <div class="modal-body">
            <div class="alert alert-warning" role="alert">
                К сожалению не удалось загрузить контент
              </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Закрыть</button>
        </div>
    </div>
</div>
{% endif %}


