{% if not learn_meta.weeks %}
<div class="alert alert-warning fw-light " role="alert">
    <i class="bi bi-info-square"></i>
    не удалось загрузить список недель для курса
</div>
{% else %}
<ul class="nav nav-underline mb-3">
    {% for w in learn_meta.weeks.all %}
    {% if learn_meta.week_current_number >= w.number %}
    <li class="nav-item">
        {% if w.number == week_number %}
        <a class="nav-link active" aria-current="page" >Неделя {{ w.number }}</a>
        {% else %}
        <a class="nav-link" aria-current="page" 
           href="
              {% if learn_meta.tutor == request.user %}
              {% url 'tutor_dashboard_view' week_number=w.number team_slug=learn_meta.team.slug %}
              {% else %}
              {% url 'student_dashboard_view' week_number=w.number team_slug=learn_meta.team.slug %}
              {% endif %}
              ">Неделя {{ w.number }}</a>
        {% endif %}
    </li>
    {% endif %}
    {% endfor%}
</ul>
{% endif %}
