{% load humanize %}

<div class="card mb-3 bg-primary-subtle">
    <div class="card-header">
        Аналитика для администратора
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'admin_dashboard_stats_review_view' %}"
           class="list-group-item list-group-item-action
                 {% if homework_status.value.name == 'review' %}bg-primary-subtle{% endif %}">
            <i class="bi bi-check-square"></i>
            Задания на проверку
        </a>
        <a href="{% url 'admin_dashboard_stats_correction_view' %}"
           class="list-group-item list-group-item-action 
                 {% if homework_status.value.name == 'correction' %}bg-primary-subtle{% endif %}">
            <i class="bi bi-exclamation-square"></i>
            Задания отправленные на доработку
        </a>
        <a href="{% url 'admin_dashboard_stats_execution_view' %}"
           class="list-group-item list-group-item-action
                 {% if homework_status.value.name == 'execution' %}bg-primary-subtle{% endif %}">
            <i class="bi bi-pencil-square"></i>
            Невыполненные задания
        </a>

      </div>
</div>

{% if last_activity_homework %}
<div class="card mb-3 bg-primary-subtle">
    <div class="card-header">
        Активность пользователей
    </div>
    <div class="list-group list-group-flush ">
        {% for activity in last_activity_homework %}
        <a 
            class="list-group-item ">
            
            <div class="ms-2 me-auto">
                <div class="d-flex justify-content-between align-items-start">
                    {{activity.updated_at|naturaltime}}
                    <div class="text-end">
                        <span class="badge text-bg-light fw-lighter">{{activity}} </span>
                        <span class="badge text-bg-secondary">{{activity.homework.team.enrollment.slug}} </span>
                    </div>
                </div>
                <div>{{activity.homework.challenge.name}}</div>
                <small>{{activity.student}} - {{activity.tutor}}</small>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endif %}
