{% for t, homework in learn_meta.week_challenges.items %}
    {% if t == track %}
        {% if not homework %}
        <div class="alert alert-secondary" role="alert">
            <i class="bi bi-info-square"></i>
            По треку нет задач на этой неделе
        </div>
        {% else %}
        <div class="card">
            <div class="card-header">
              Задания
            </div>
            <div class="card-body">
                <div class="row">
                    {% for challenge, task in homework %}
                    <div class="col-sm-12 mb-3 mb-sm-1">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-start">
                                    <h5 class="card-title">{{ challenge.name }}</h5>
                                    <span>
                                        
                                        {% if challenge.repo or challenge.url %}
                                        <div class="btn-group" role="group">
                                            {% if challenge.repo %}
                                            <a href="{{challenge.repo}}" target="_blank" class="btn btn-secondary btn-sm"><i class="bi bi-github"></i> github</a>
                                            {% endif %}
                                            {% if challenge.url %}
                                            
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        {% if not learn_meta.tutor == request.user %}
                                        <a href="{% url 'student_task_view' week_number learn_meta.team.slug challenge.pk %}" class="btn btn-success btn-sm">
                                            <i class="bi bi-laptop"></i>
                                            выполнить
                                        </a>
                                        {% endif %}
                                    </span>
                                </div>
                                
                                {% if challenge.content %}
                                <p class="card-text">{{challenge.content_markdown|safe}}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    {% endfor %}
                </div>
            </div>
          </div>
        {% endif %}
    {% endif %}
{% endfor %}
