<div class="card mb-3 bg-primary-subtle">
    <div class="card-header">
        Аналитика для администратора
    </div>
    <div class="list-group list-group-flush">
        <a href="{% url 'admin_dashboard_stats_review_view' %}" class="list-group-item list-group-item-action">
            <i class="bi bi-check-square"></i>
            Задания на проверку
        </a>
        <a href="{% url 'admin_dashboard_stats_correction_view' %}" class="list-group-item list-group-item-action">
            <i class="bi bi-exclamation-square"></i>
            Задания отправленные на доработку
        </a>
        <a href="{% url 'admin_dashboard_stats_execution_view' %}" class="list-group-item list-group-item-action">
            <i class="bi bi-pencil-square"></i>
            Невыполненные задания
        </a>
      </div>
</div>
