{% for t, lessons in learn_meta.week_lessons.items %}
    {% if t == track %}
        {% if not lessons %}
        <div class="alert alert-primary" role="alert">
            <i class="bi bi-info-square"></i>
            По треку нет уроков на этой неделе
        </div>
        {% else %}
        <div class="card mb-3">
            <div class="card-header">
              Уроки
            </div>
            <div class="accordion accordion-flush pb-1" id="accordionFlushLessons{{ track.pk }}">
                {% for lesson in lessons %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                  data-bs-target="#flush-collapse-{{ lesson.pk}}" aria-expanded="false" 
                                  aria-controls="flush-collapse-{{ lesson.pk}}"
                                  onclick="players_stop()">
                                  {{ lesson.name }}
                          </button>
                        </h2>
                        <div id="flush-collapse-{{lesson.pk}}" class="accordion-collapse collapse" 
                             data-bs-parent="#accordionFlushLessons{{ track.pk }}">
                            <div class="accordion-body">
                                <div class="btn-group" role="group">
                                    {% if lesson.video %}
                                    <button hx-get="{% url 'get_dashboard_content' 'lesson' lesson.pk 'video' %}" 
                                            hx-target="#player-lesson-{{lesson.pk}}-video" 
                                            hx-trigger="click" 
                                            class="btn btn-danger btn-sm"><i class="bi bi-youtube"></i> видео</button>
                                    {% endif %}
                                    {% if lesson.slide %}
                                    <button hx-get="{% url 'get_dashboard_content' 'lesson' lesson.pk 'slide' %}" 
                                            hx-target="#player-lesson-{{lesson.pk}}-slide" 
                                            hx-trigger="click" 
                                            class="btn btn-warning btn-sm"><i class="bi bi-file-easel"></i></i> слайды</button>
                                    {% endif %}
                                    {% if lesson.repo %}
                                    <a href="{{lesson.repo}}" target="_blank" class="btn btn-secondary btn-sm"><i class="bi bi-github"></i> github</a>
                                    {% endif %}
                                    {% if lesson.url %}
                                    <a href="{{lesson.url}}" target="_blank" class="btn btn-info btn-sm"><i class="bi bi-link"></i> ссылка</a>
                                    {% endif %}
                                </div>
                                <div id="player-lesson-{{lesson.pk}}-video">
                                </div>
                                <div id="player-lesson-{{lesson.pk}}-slide">
                                </div>
                                {% if lesson.content %}
                                <hr>
                                {{lesson.content}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}

<script>
    function players_stop() {
        youtube_player = document.getElementById("youtube_player");
        if (youtube_player) {
            youtube_player.remove();
        }
        slide_player = document.getElementById("slide_player");
        if (slide_player) {
            slide_player.remove();
        }
        error_player = document.getElementById("error_player");
        if (error_player) {
            error_player.remove();
        }
    }
</script>
