{% for t, homework in learn_meta.week_challenges.items %}
    {% if t == track %}
        {% if not homework %}
        <div class="alert alert-secondary" role="alert">
            <i class="bi bi-info-square"></i>
            По треку нет задач на этой неделе
        </div>
        {% else %}
        <div class="card">
            <div class="card-header">
              Задания
            </div>
            <div class="accordion accordion-flush pb-1" id="accordionFlushChallenges{{ track.pk }}">
                {% for challenge, task, status in homework %}
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" 
                                  data-bs-target="#flush-collapse-{{ challenge.pk}}" aria-expanded="false" 
                                  aria-controls="flush-collapse-{{ challenge.pk}}">
                                  {{ challenge.name }}
                          </button>
                        </h2>
                        <div id="flush-collapse-{{ challenge.pk}}" class="accordion-collapse collapse" 
                             data-bs-parent="#accordionFlushChallenges{{ track.pk }}">
                          <div class="accordion-body">
                                <span>
                                            
                                    {% if challenge.repo or challenge.url %}
                                    <div class="btn-group" role="group">
                                        {% if challenge.repo %}
                                        <a href="{{challenge.repo}}" target="_blank" class="btn btn-secondary btn-sm"><i class="bi bi-github"></i> github</a>
                                        {% endif %}
                                        {% if challenge.url %}
                                        <a href="{{challenge.url}}" target="_blank" class="btn btn-secondary btn-sm"><i class="bi bi-link"></i> ссылка</a>
                                        {% endif %}
                                    </div>
                                    {% endif %}
                                    {% if not learn_meta.tutor == request.user %}
                                    <a href="{% url 'student_task_view' week_number learn_meta.team.slug challenge.pk %}" class="btn btn-success btn-sm">
                                        <i class="bi bi-laptop"></i>
                                        выполнить
                                    </a>
                                    {% endif %}
                                </span>
                                {% if challenge.content %}
                                <hr>
                                {{challenge.content_markdown|safe}}
                                {% endif %}
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    {% endif %}
{% endfor %}
