<div class="card mb-3">
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
            <h5 class="card-title">Как проверить работу</h5>
            <span>
                <button type="button" class="btn btn-light btn-sm " 
                        data-bs-toggle="tooltip" data-bs-placement="bottom" 
                        data-bs-title="Особенности выполнения читайте в README.md в репозитории с файлами задания (при наличии)">
                    <i class="bi bi-info-circle "></i>
                    <small class="fw-lighter"> стандартная инструкция</small>
                </button>
            </span>
        </div>
        <p class="card-text">
            <ul class="list-group list-group-flush list-group-numbered m-0">
                <li class="list-group-item">Откройте пулл-реквест по ссылке</li>
                <li class="list-group-item">Проверьте работу в соответствии с заданием</li>
                <li class="list-group-item">Оставьте комментарии к выполнению</li>
                <li class="list-group-item">Если работа выполнена и не требует замечаний - сделайте аппрув</li>
                <li class="list-group-item">Нажмите ниже кнопку "Работа проверена"</li>
            </ul>
        </p>                
    </div>
</div>
