{% extends "dashboard_panels.html" %}

{% block head_title %}
{{ team.enrollment.slug }} | неделя {{week_number}}
{% endblock head_title %}

{% block leftpanel %}

<div class="row">
    <div class="col">
        {% include 'user/list_teams_learn.html' %}
        {% if learn_meta.week_current_number >= week.number %}
        {% include 'dashboard/list_task.html' %}
        {% endif %}
        {% include 'course/support_links.html' %}
    </div>
</div>
{% endblock %}


{% block rightpanel %}
<div class="row">
    <div class="col">
        {% if learn_meta.week_current_number >= week.number %}
        {% include 'dashboard/team.html' %}
        {% endif %}

        {% if learn_meta.team.enrollment.start > now %}
        <div class="alert alert-warning" role="alert">
            Курс еще не начался!
          </div>
        {% endif %}
    </div>
</div>

{% endblock %}
