
<form method="post" id="TaskUpdateForm" action="{% url 'task_update_view' homework.pk %}?status_sending={{status_sending}}&redirect_url={{request.GET.redirect_url}}">
    {% csrf_token %}
    {{ form.errors }}
    <div class="mb-3">
        <label for="InputRepo" class="form-label">{{ form.repo.label }}</label>
        {{ form.repo }}
        <datalist id="repo_options">

        </datalist>
        <div id="repoHelp" class="form-text">
            Вставьте полный путь, например:
            <code>
                https://github.com/{{request.user.github_account.extra_data.login}}/django_orm_challenges/pull/1
            </code>
        </div>
    </div>
    <div class="mb-3">
        <label for="InputComment" class="form-label">{{ form.comment.label }}</label>
        {{ form.comment }}
        <div id="commentHelp" class="form-text">
            Напишите что-нибудь важное к выполнению, например, что бы хотели обсудить на созвоне 
            (это поле только для вас - куратор его не увидит)
        </div>
        <div class="text-end mt-3">
            {% if status.status == 'execution' %}
            <button type="submit" class="btn btn-danger btn-sm" name='status_sending' value="available" formnovalidate="TaskUpdateForm">Отменить выполнение</button>
            {% endif %}
            
            <button type="submit" class="btn btn-success btn-sm" name='status_sending' value="{{status_sending}}" >
                {% if status.status == 'execution' or status.status == 'available' or status.status == 'correction' %}
                Отправить на проверку
                {% else %}
                Обновить комментарий
                {% endif %}
            </button>
        </div>
    </div>
</form>

