{% extends "dashboard_panels.html" %}

{% block head_title %}
{% endblock head_title %}

{% block leftpanel %}

<div class="row">
    <div class="col">
        {% include 'user/list_teams_learn.html' %}
        {% include 'user/list_teams_review.html' %}
        {% include 'dashboard/list_task.html' %}
    </div>
</div>
{% endblock %}


{% block rightpanel %}
<div class="row">
    <div class="col">
        <div class="collapse" id="collapseLessons">
                {% include 'dashboard/list_lesson.html' %}
        </div>
        {% include 'dashboard/task_student.html' %}    
        {% include 'dashboard/task_execution.html' %}       
    </div>
</div>

{% endblock %}
