{% load humanize %}

<div class="card">
    <div class="card-header  ">
        <div class="row">
            <div class="col">
                Аналитика куратора
                <span class="fw-lighter">| {{homework_status.value.label_plural}}</span>

            </div>
            {% if learn_meta.tutor_stats_review %}
            <div class="col text-end">
                <small class="fw-lighter">{{ learn_meta.tutor_stats_review.count }} работ</small>
            </div>
            {% endif %}
        </div>

    </div>
    <div class="card-body">
        {% if not learn_meta.tutor_stats_review %}
        <div class="alert alert-primary" role="alert">
            Нет отправленных заданий!
        </div>
        {% else %}
        <table class="table table-striped table-hover table-sm">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"> {{homework_status.value.label_action_tutor}}</th>
                    <th scope="col">Поток</th>
                    <th scope="col">Студент</th>
                    <th scope="col">Работа</th>
                </tr>
            </thead>
            <tbody>
                {% for review in learn_meta.tutor_stats_review %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ review.updated_at|naturaltime }}</td>
                    <td>{{ review.homework.team.enrollment.slug }}</td>
                    <td>{{ review.student.first_name }} {{ review.student.last_name }}</td>
                    <td>
                        <a href="{% url 'tutor_review_view' review.homework.week.number review.homework.team.slug review.homework.challenge.pk review.student.username %}">
                            {{review.homework.challenge.name }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
