{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>

<head lang="ru-RU" class="h-100">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}
        {% endblock head_title %}
    </title>
    <!-- Favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicons/apple-touch-icon.png'%}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicons/favicon-32x32.png'%}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicons/favicon-16x16.png'%}">
    <link rel="manifest" href="{% static 'favicons/site.webmanifest'%}">
    <!-- Icons -->
    <link rel="stylesheet" href="{% static 'icons/font/bootstrap-icons.min.css'%}">
    <!-- CSS -->
    <link href="{% static 'css/bootstrap.min.css' %} " rel="stylesheet">
    {% block extra_style %}{% endblock %}
    {% block custom_css %}
    <link href="{% static 'css/sign-in-oauth.css' %}" rel="stylesheet">
    {% endblock %}
    {% block extra_head %}
    {% endblock extra_head %}
</head>

<body class="align-items-center  bg-body-tertiary">
    {% block body %}
    
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img class="ms-3 me-3" src="{% static 'logo/logo.png' %}" alt="" width="32" height="32">
            <span class="fs-4">LEARN PYTHON</span>
        </a>

        <ul class="nav nav-pills">
            {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'user_detail_view' user.username %}">Профиль</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">{% trans "Sign In" %}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a>
            </li>
            {% endif %}
        </ul>
    </header>
    <main class="form-signin w-100 m-auto bg-body-tertiary">
        {% if messages %}
        <div class="alert alert-primary pb-0" role="alert">
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
        <div>

        </div>
        {% endif %}
        {% block content %}
        {% endblock content %}

        <p class="mt-5 mb-3 text-body-secondary text-center">© 2016-{% now "Y" %} MoscowPython</p>
    </main>
    {% endblock body %}
    {% block extra_body %}
    {% endblock extra_body %}
    
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
