{% extends "dashboard_panels.html" %}

{% block head_title %}
{{ course.name }}
{% endblock head_title %}

{% block leftpanel %}

<div class="row">
    <div class="col">
        {% include 'course/list_courses.html' %}
        {% include 'course/lpms_about.html' %}
        {% if learn_meta %}
            {% if not request.user.is_tutor %}
                {% include 'user/list_teams_learn.html' %}
            {% else %}
                {% include 'user/list_teams_review.html' %}
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}


{% block rightpanel %}
<div class="row">
    <div class="col">
        {% include 'course/course_meta.html' %}
    </div>
</div>
{% endblock %}
